:root{
    --bg-color: #1E213A;
    --bg-color-2: #100E1D;
    --letter-color: #E7E7EB;
    --letter-color-2: #88869D;
    --btn-color: #6E707A;
    --progress-bar-color: #FFEC65;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside{
    display: grid;
    grid-template-rows: 100px 1fr;
    background: var(--bg-color);
    width: 100%;
    min-height: 88vh;
}

.aside__container{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.aside__container-btn{
    width: 161px;
    height: 40px;
    margin-left: 15px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--letter-color);
    background-color: var(--btn-color);
    cursor: pointer;
}

.aside__container-location{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--btn-color);
    color: var(--letter-color);
    cursor: pointer;
}

.aside__container-icon{
    margin-top: .3em;
}

.aside__form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: inherit;
    background-color: var(--bg-color);
}

.article{
    background-color: var(--bg-color-2);
    width: 100%;
    min-height: 100vh;
}