:root{
    --bg-color: #1E213A;
    --bg-color-2: #100E1D;
    --letter-color: #E7E7EB;
    --letter-color-2: #88869D;
    --letter-color-3: #A09FB1;
    --btn-color: #6E707A;
    --btn-search-color: #3C47E9;
    --progress-bar-color: #FFEC65;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside{
    display: grid;
    grid-template-rows: 100px 1fr;
    background: var(--bg-color);
    width: 100%;
    min-height: 88vh;
}

.aside__container{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.aside__container--btn{
    width: 161px;
    height: 40px;
    margin-left: 15px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--letter-color);
    background-color: var(--btn-color);
    cursor: pointer;
}

.aside__container--location, .hightlights__location{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--btn-color);
    color: var(--letter-color);
    cursor: pointer;
}

.aside__container-icon, .hightlights__icon{
    margin-top: .3em;
}

.aside__weather{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--letter-color-3);
}

.aside__weather-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__weather-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/weather-app-master/Cloud-background.png) no-repeat;
    background-size: 155%;
    background-position: top, center;
    filter: opacity(0.2);
}

.aside__weather-img{
    width: 180px;
}

.aside__weather-img{
    margin-top: 50px;
}

.aside__weather-img{
    width: 200px;
    height: 200px;
}

.aside__weather-error{
    color: #ff2130;
}

.aside__weather-container{
    display: flex;
}

.aside__weather-temp{
    margin: 0;
    font-size: 8rem;
    font-weight: 500;
    color: var(--letter-color);
}

.aside__weather-metric{
    font-size: 3rem;
}

.aside__weather-main{
    font-size: 1.5rem;
    font-weight: 600;
}

.aside__weather-date{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.aside__weather-location{
    margin-top: 2em;
    font-weight: 600;
}

.aside__form{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    transform: translateX(-100%);
    min-height: inherit;
    text-align: center;
    background-color: var(--bg-color);
}

.aside__form-open{
    transform: translateX(0);
}

.aside__form-close--btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--letter-color);
    cursor: pointer;
}

.aside__form-search{
    width: 60%;
    height: 45px;
    padding-left: 40px;
    margin-top: 60px;
    max-width: 425px;
    border: thin solid var(--letter-color);
    font-family: inherit;
    font-size: 1rem;
    color: var(--letter-color);
    background-color: var(--bg-color);
    background-image: url(../assets/search_black_24dp.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
}

.aside__form-submit{
    width: 90px;
    height: 45px;
    margin-left: 5px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--letter-color);
    cursor: pointer;
    background-color: var(--btn-search-color);
    border: none;
}

.aside__form-search:focus{
    outline: none;
}

.section{
    background-color: var(--bg-color-2);
    width: 100%;
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 10em;
}

.section__forecast{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 140px);
    gap: 2em;
    padding-bottom: 5em;
}

.section__forecast-cards{
    text-align: center;
    background-color: var(--bg-color);
    color: #fff;
}

.section__forecast-day{
    font-weight: 500;
}

.section__forecast-measurement{
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 1.3rem;
}

.section__forecast-measurement span:last-child{
    color: var(--letter-color-3);
}

.section__hightlights{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 3em;
    justify-content: center;
    color: #fff;
}

.section__hightlights h2{
    grid-column: 1/-1;
    font-size: 1.5rem;
}

.section__hightlights h3{
    font-size: 1.3rem;
    font-weight: 500;
}

.hightlights__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    font-weight: 500;
    padding-top: .5em;
    padding-bottom: 2em;
}

.hightlights__icon-container{
    display: flex;
    justify-items: space-around;
    align-items: center;
}

.hightlights__location{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--btn-color);
    color: var(--letter-color);
    cursor: pointer;
}

.hightlights__humidity-container{
    display: flex;
    flex-direction: column;
    width: 229px;
    margin-top: 1em;
    margin-bottom: 0;
    color: var(--letter-color-3);
    font-weight: 700;
}

.hightlights__humidity-percentages{
    display: flex;
    justify-content: space-between;
}

.hightlights__humidity-bar{
    height: 8px;
    border-radius: 5em;
    background-color: var(--letter-color);
}

.hightlights__humidity-progression{
    height: inherit;
    border-radius: inherit;
    background-color: #FFEC65;
}

.hightlights__percentage{
    align-self: flex-end;
}

.hightlights__visibility, .hightlights__pressure{
    justify-content: center;
}

.info{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}

.span{
    font-size: 2.5rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .aside__weather-background{
        background-size: cover;
        background-position: top, center;
    }
}

@media screen and (min-width: 1440px){  
    .main-content{
        flex-direction: row;
    }

    .aside{
        width: 420px;
        min-height: 100%;
    }

    .aside__form{
        width: 420px;
    }

    .aside__weather-background{
        background-size: 170%;
    }

    .section{
        display: flex;
        justify-content: center;
    }

    .section__container{
        width: 80%;
        margin-left: auto;
        margin-right: 3.5em;
    }

    .section__forecast, .section__hightlights{
        justify-content: start;
    }

    .section__hightlights{
        grid-template-columns: repeat(auto-fill, 390px);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 